@utility text-display-1 {
  font-size: calc(2.5rem * var(--spacing-factor));
  line-height: calc(3.5rem * var(--spacing-factor));
  font-weight: 700;
}

@utility text-display-1-expanded {
  font-size: calc(3rem * var(--spacing-factor));
  line-height: calc(4rem * var(--spacing-factor));
  font-weight: 700;
}

@utility text-display-2 {
  font-size: calc(2rem * var(--spacing-factor));
  line-height: calc(2.75rem * var(--spacing-factor));
  font-weight: 700;
}

@utility text-display-2-expanded {
  font-size: calc(2.5rem * var(--spacing-factor));
  line-height: calc(3.5rem * var(--spacing-factor));
  font-weight: 700;
}

@utility text-display-3 {
  font-size: calc(1.5rem * var(--spacing-factor));
  line-height: calc(2rem * var(--spacing-factor));
  font-weight: 700;
}

@utility text-display-3-expanded {
  font-size: calc(2rem * var(--spacing-factor));
  line-height: calc(2.75rem * var(--spacing-factor));
  font-weight: 700;
}

@utility text-headline-1 {
  font-size: calc(1.25rem * var(--spacing-factor));
  line-height: calc(1.75rem * var(--spacing-factor));
  font-weight: 700;
}

@utility text-headline-1-expanded {
  font-size: calc(1.5rem * var(--spacing-factor));
  line-height: calc(2rem * var(--spacing-factor));
  font-weight: 700;
}

@utility text-headline-2 {
  font-size: calc(1.125rem * var(--spacing-factor));
  line-height: calc(1.5rem * var(--spacing-factor));
  font-weight: 700;
}

@utility text-headline-2-expanded {
  font-size: calc(1.25rem * var(--spacing-factor));
  line-height: calc(1.75rem * var(--spacing-factor));
  font-weight: 700;
}

@utility text-subhead {
  font-size: calc(1rem * var(--spacing-factor));
  line-height: calc(1.5rem * var(--spacing-factor));
  font-weight: 700;
}

@utility text-subhead-expanded {
  font-size: calc(1rem * var(--spacing-factor));
  line-height: calc(1.5rem * var(--spacing-factor));
  font-weight: 700;
}

@utility text-body-1 {
  font-size: calc(1rem * var(--spacing-factor));
  line-height: calc(1.5rem * var(--spacing-factor));
}

@utility text-body-2 {
  font-size: calc(0.875rem * var(--spacing-factor));
  line-height: calc(1.25rem * var(--spacing-factor));
}

@utility text-caption {
  font-size: calc(0.75rem * var(--spacing-factor));
  line-height: calc(1rem * var(--spacing-factor));
}

@utility text-small {
  font-size: calc(0.625rem * var(--spacing-factor));
  line-height: calc(0.875rem * var(--spacing-factor));
}

@utility text-body-1-link {
  font-size: calc(1rem * var(--spacing-factor));
  line-height: calc(1.5rem * var(--spacing-factor));
}

@utility text-body-2-link {
  font-size: calc(0.875rem * var(--spacing-factor));
  line-height: calc(1.125rem * var(--spacing-factor));
}

@utility text-caption-link {
  font-size: calc(0.75rem * var(--spacing-factor));
  line-height: calc(1rem * var(--spacing-factor));
}

@utility text-callout {
  font-size: calc(1rem * var(--spacing-factor));
  line-height: calc(1.5rem * var(--spacing-factor));
}

@utility u-current-font-size {
  width: 1em;
  height: 1em;
}

@utility u-shadow-border-transition {
  transition:
    box-shadow 0.1s cubic-bezier(0.4, 0, 1, 1),
    border-color 0.3s cubic-bezier(0.4, 0, 1, 1);
}

@utility u-no-scrollbar {
  scrollbar-width: none;
}

@utility u-no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility u-outline {
  outline-color: var(--color-focus);
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
}

@utility u-outline-inset {
  outline-color: var(--color-focus);
  outline-style: solid;
  outline-width: 2px;
  outline-offset: calc(2px * -1);
}

/*
  u-gradient-*: A utility to apply a gradient to a background.
  For elements whose background is using a base color (strong color, not like the *-container colors)
*/
@utility u-filled-gradient-* {
  /* prettier-ignore */
  --tw-gradient-from: --value(--color-*);

  /* prettier-ignore */
  --tw-gradient-to: --value(--color-*);

  background-image: linear-gradient(
    var(--tw-gradient-position, to top right in oklab),
    var(--tw-gradient-from) 25%,
    --alpha(var(--tw-gradient-to) / var(--opacity-dim-1)) 100%
  );
  background-color: --alpha(var(--color-surface) / 0);
  background-blend-mode: overlay;
}

@utility u-filled-gradient-hovered {
  background-color: --alpha(var(--color-surface) / var(--opacity-dim-4));
}

/*
  u-tinted-gradient-*: A utility to apply a gradient to a background.
  For elements whose background is using a *-container color.
*/
@utility u-tinted-gradient-* {
  /* prettier-ignore */
  --tw-gradient-from: --value(--color-*);
  --tw-gradient-to: var(--color-surface);

  background: linear-gradient(
    var(--tw-gradient-position, to top right in oklab),
    --alpha(var(--tw-gradient-from) / var(--opacity-dim-1)) 0%,
    var(--tw-gradient-from) 25%,
    --alpha(var(--tw-gradient-to) / var(--opacity-dim-4)) 100%
  );
  background-color: --alpha(var(--color-surface) / 0);
  background-blend-mode: overlay;
}

@utility u-tinted-gradient-hovered {
  background-color: --alpha(var(--color-surface) / var(--opacity-dim-2));
}
