@import 'tailwindcss';

@import '@spark-ui/theme-utils/base';
@import '@spark-ui/theme-utils/themes/light';
@import '@spark-ui/theme-utils/themes/dark';
@import '@spark-ui/theme-utils/themes/light-more-contrast';
@import '@spark-ui/theme-utils/themes/dark-more-contrast';
